@font-face {
  font-family: 'proximanova_black';
  src: local("proximanova_black"), url('./fonts/proximanova_black.ttf') format("truetype");
}

@font-face {
  font-family: 'proximanova_regular';
  src: local("proximanova_regular"), url('./fonts/proximanova_regular.ttf') format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'proximanova_regular';
  background: #F7FAFB;
}

